---
import BlogPostLink from "../components/BlogPostLink.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Kanari Blog">
    <div class="flex flex-col min-h-screen">
        <Navbar />
        <div class="h-24"></div>
        <main class="flex-grow p-4 sm:p-6 lg:p-8 bg-gradient-to-r ">
            <div class="max-w-7xl mx-auto">
                <h1 class="text-4xl font-bold mb-8 text-center">
                    Kanari Blog
                </h1>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                    <BlogPostLink
                        href="/Kanari_SDK_Design"
                        imgSrc="https://raw.githubusercontent.com/kanari-network/about/main/kari1.png"
                        imgAlt="EP1 Image"
                        title="Kanari SDK Design"
                        description="Explore the design principles and architecture of the Kanari SDK in this detailed blog post."
                    />

                    <BlogPostLink
                        href="/Kanari_SDK_Implementation"
                        imgSrc="https://raw.githubusercontent.com/kanari-network/about/main/kari2.png"
                        imgAlt="EP2 Image"
                        title="Kanari SDK Implementation"
                        description="Dive into the implementation details of the Kanari SDK in this comprehensive blog post."
                    />
                </div>
            </div>
        </main>
        
        <Footer />
    </div>
</Layout>