---
import BlogPostLink from "../components/BlogPostLink.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import { processMarkdown } from "../utils/markdownProcessor";

// Use Astro's built-in functionality to import Markdown
const post = await Astro.glob("../content/Kanari_SDK_Design.md");
const markdownContent = post[0].rawContent();

// Process the Markdown content
const contentHtml = await processMarkdown(markdownContent);
---

<Layout title="Kanari SDK Design">
  <div class="flex flex-col min-h-screen">
    <Navbar />
    <div class="h-24"></div>

    <main class="flex-grow p-4 sm:p-6 lg:p-8 bg-gradient-to-r from-gray-50 via-gray-100 to-gray-200 dark:bg-gradient-to-r dark:from-gray-900 dark:via-gray-800 dark:to-gray-700">
      <article
        class="max-w-4xl mx-auto  bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md prose lg:prose-xl prose-invert"
      >
        <h1 class="text-3xl font-bold mb-4 text-white dark:text-gray-100">
          Kanari SDK Design
        </h1>
        <img
          src="https://raw.githubusercontent.com/kanari-network/about/main/kari1.png"
          alt="EP1 Image"
          class="w-full h-auto rounded-lg mb-4"
        />
        <div class="markdown-content" set:html={contentHtml} />
      </article>
      
      <div class="h-20"></div>

      <div class="w-[calc(100%-40px)] m-2 backdrop-blur-sm bg-opacity-80 shadow-lg rounded-lg p-6">
        <div class="max-w-7xl mx-auto">
          <h1
            class="text-4xl font-bold mb-8 text-gray-800 dark:text-gray-100 text-center"
          >
            What’s New at Kanari
          </h1>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
            <BlogPostLink
              href="/Kanari_SDK_Design"
              imgSrc="https://raw.githubusercontent.com/kanari-network/about/main/kari1.png"
              imgAlt="EP1 Image"
              title="Kanari SDK Design"
              description="Explore the design principles and architecture of the Kanari SDK in this detailed blog post."
            />

            <BlogPostLink
              href="/blog02"
              imgSrc="https://raw.githubusercontent.com/kanari-network/about/main/kari2.png"
              imgAlt="EP2 Image"
              title="Kanari SDK Implementation"
              description="Dive into the implementation details of the Kanari SDK in this comprehensive blog post."
            />
          </div>
        </div>
      </card>

    </main>
    <Footer />
  </div>
</Layout>
